
        body {
            color: #66CDAA;
        }
        
        #header {
            white-space: pre;
            width:100%;
          }
          
        #header h1 {
            font-family: 'Poiret One', sans-serif;
            font-size: 48px;
            font-weight: 300;
            letter-spacing: 4px;
            line-height: 35px;
            margin: 0 auto;
            text-align: center;
            text-transform: uppercase;
            min-width: 200px;
            max-width: 700px;
            border: 2px double;
            border-width: 4px;
            padding: 40px;
            box-sizing: border-box; 
        }
        #header p {
            font-family: 'Poiret One', sans-serif;
            font-size: 20px;
            font-weight: 300px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            margin: 0 auto;
            margin-bottom: -1em;
            text-align: center;
            padding: 40px;  
            padding-top: 10px; 
            padding-bottom: 10px;
            box-sizing: border-box;
          
        }
        .cactus {	
            cursor: url(images/cactus-cup.png),auto;
        }

        .topnav {
            background-color:#66CDAA;
            opacity: 0.7;
            display:flex;
            justify-content: space-around;
            margin-right:auto;
            height: 50%;
            width: 100%;
            box-sizing: border-box;
        }
        
        /* Style the links inside the navigation bar */
        .topnav a {
            font-family: 'Poiret One', sans-serif;
            float: left;
            color: #f2f2f2;
            text-align: center;
            text-decoration: none;
            font-size: 20px;
            text-transform: uppercase; 
        }
        
        /* Change the color of links on hover */
        .topnav a:hover {
            color:  #000000;
        }
        
        .home-flex-container {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        /* #divvy {
            font-size: 20px;
            font-weight: 50;
            color:#66CDAA;
            letter-spacing: 2px;
            margin: 0 auto;
            text-align: justify;
            text-transform: capitalize;
            padding: 40px;
            padding-top: 40px;
            position: relative;
        } */

        .flex-item {
            font-family: 'Poiret One', sans-serif;
            font-size: 20px;
            letter-spacing: 1px;
            text-align: center;
            text-transform: uppercase;
            padding: 40px; 
        }

        #circleProfile {
            width: 500px;
            height: 500px;
            border-radius: 50%;
            float: left;
            clear: left;
            padding: 1em;
            flex-grow:1;
        }
        

        #standoutText {
            font-family: 'Pacifico', sans-serif;
            font-size: 80px;

        }

        #footer {
         position: absolute;
         bottom: 0;
         width: 100%;
         height:60px;
        }

        .ion-logo-linkedin{
           
            font-size: 64px;
            color: #66CDAA
        }
        
        .ion-logo-instagram{
            
            font-size: 64px;
            color: #66CDAA
        }

        .ion-logo-github{

            font-size: 64px;
            color: #66CDAA
        }

        .attribution {
            color: #66CDAA;
            font-size: 1em;
            font-family: 'Poiret One', sans-serif;
        }
        
        .attribution a:link {
            color: #66CDAA;
        }

        .attribution a:hover{
            color:  #000000
        }

        .attribution a:active{
            color:  #000000
        }
